<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619734322073-v93uk9aup45nngauqpjp74o690vk60rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619734322073-v93uk9aup45nngauqpjp74o690vk60rd</string>
	<key>API_KEY</key>
	<string>AIzaSyDFUA7P0HHhZGNtEHWIH-_CnL1r17id9LQ</string>
	<key>GCM_SENDER_ID</key>
	<string>619734322073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hero.cards</string>
	<key>PROJECT_ID</key>
	<string>cards-58c1e</string>
	<key>STORAGE_BUCKET</key>
	<string>cards-58c1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619734322073:ios:a779199686848f78212108</string>
</dict>
</plist>